body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #333, #666);
    font-family: Arial, sans-serif;
    color: white;
}
.todolist-container {
    text-align: center;
}


.todolist-header {
    background: linear-gradient(to right, #FF69B4, #800080);
    padding: 20px;
    margin: 0;
}

.todolist {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.add-task-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background: linear-gradient(to right, #FF69B4, #800080);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.edit-button, .delete-button {
    background: linear-gradient(to right, #FF69B4, #800080);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    margin-right: 5px;
}